<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.doushen.system.mapper.DeptMapper">

	<select id="list" parameterType="java.util.Map" resultType="info.doushen.system.entity.DeptEntity">
		SELECT
		    id,
		    dept_name,
		    parent_id,
		    sort
		FROM
		    sys_dept
		<where>
			<if test="deptName != null and deptName != ''"> and dept_name = #{deptName} </if>
			<if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id
			</otherwise>
		</choose>
	</select>

	<select id="get" parameterType="java.lang.Integer" resultType="info.doushen.system.entity.DeptEntity">
		SELECT
		    id,
		    dept_name,
		    parent_id,
		    sort
		FROM
		    sys_dept
		WHERE
		    id = #{id}
	</select>

	<insert id="save" parameterType="info.doushen.system.entity.DeptEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO
		    sys_dept
		    (
		        dept_name,
		        parent_id,
		        sort,
		        create_by,
		        create_time,
		        update_by,
		        update_time
		    )
		VALUES
		    (
		        #{deptName},
		        #{parentId},
		        #{sort},
		        #{createBy},
		        CURRENT_TIMESTAMP,
		        #{createBy},
		        CURRENT_TIMESTAMP
		    )
	</insert>

	<update id="update" parameterType="info.doushen.system.entity.DeptEntity">
		UPDATE
			sys_dept
		SET
			dept_name = #{deptName},
			parent_id = #{parentId},
			sort = #{sort},
			update_by = #{updateBy},
			update_time = CURRENT_TIMESTAMP
		WHERE
		    id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		DELETE
		FROM
			sys_dept dept
		WHERE
			dept.id IN
						(
						WITH
							RECURSIVE T
							(
								id,
								dept_name,
								parent_id
							) AS
							(
								SELECT
									id,
									dept_name,
									parent_id
								FROM
									sys_dept
								WHERE
									id = #{id}
								UNION ALL
								SELECT
									d.id,
									d.dept_name,
									d.parent_id
								FROM
									sys_dept d
								JOIN
									t
								ON
									d.parent_id = t.id
							)
						SELECT
							id
						FROM
							t)
	</delete>

	<select id="getDeptInfo" parameterType="java.lang.Integer" resultType="java.util.Map">
		SELECT
			T.ID        AS "ID",
			T.DEPT_NAME AS "DEPT_NAME",
			T.PARENT_ID AS "PARENT_ID",
			P.DEPT_NAME AS "PARENT_NAME"
		FROM
			SYS_DEPT T
		LEFT JOIN
			SYS_DEPT P
		ON
			T.PARENT_ID = P.ID
		WHERE
			T.ID = #{id}
	</select>

</mapper>