<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.doushen.system.mapper.RoleMenuMapper">

    <select id="listMenuIdByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            menu_id
        FROM
            sys_role_menu
        WHERE
            role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
        DELETE
        FROM
            sys_role_menu
        WHERE
            role_id = #{roleId}
    </delete>

    <insert id="batchInsert" parameterType="java.util.Map">
        INSERT
        INTO
            sys_role_menu
            (
                role_id,
                menu_id
            )
        VALUES
        <foreach item="item" index="index" collection="menuIdList"
                 separator=",">
            (#{roleId}, #{item})
        </foreach>
    </insert>

    <insert id="insertForAdmin" parameterType="java.util.Map">
        INSERT
        INTO
            sys_role_menu
            (
                role_id,
                menu_id
            )
        VALUES
            (
                #{roleId},
                #{menuId}
            )
    </insert>

</mapper>