<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.doushen.system.mapper.RoleMapper">

    <select id="list" parameterType="info.doushen.common.utils.Query" resultType="info.doushen.system.entity.RoleEntity">
        SELECT
            id,
            role_name,
            role_sign,
            role_desc
        FROM
            sys_role
        <where>
            <if test="roleName != null and roleName != ''"> and role_name like CONCAT('%',#{roleName},'%') </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
    </select>

    <select id="get" parameterType="java.lang.Integer" resultType="info.doushen.system.entity.RoleEntity">
        SELECT
            id,
            role_name,
            role_sign,
            role_desc
        FROM
            sys_role
        WHERE
            id = #{id}
    </select>

    <update id="update" parameterType="info.doushen.system.entity.RoleEntity">
        UPDATE
            sys_role
        SET
            role_name = #{roleName},
            role_sign = #{roleSign},
            role_desc = #{roleDesc},
            update_by = #{updateBy},
            update_time = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

    <insert id="save" parameterType="info.doushen.system.entity.RoleEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO
            sys_role
            (
                role_name,
                role_sign,
                role_desc,
                create_by,
                create_time,
                update_by,
                update_time
            )
            VALUES
            (
                #{roleName},
                #{roleSign},
                #{roleDesc},
                #{createBy},
                CURRENT_TIMESTAMP,
                #{createBy},
                CURRENT_TIMESTAMP
            )
    </insert>

    <delete id="remove" parameterType="java.lang.Integer">
        DELETE
        FROM
            sys_role
        WHERE
            id = #{id}
    </delete>

</mapper>