<div class="row">
	<article class="col-sm-12 col-md-12 col-lg-2 sortable-grid ui-sortable">
	</article>
	<article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">
		<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
			<header role="heading">
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>添加用户 </h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div role="content">
				<div class="jarviswidget-editbox">
				</div>
				<div class="widget-body no-padding">
					<form id="userForm" class="form-horizontal smart-form" novalidate="novalidate" autocomplete="off">
						<fieldset>
							<legend>添加用户</legend>
							<input id="userId" name="userId" type="hidden">
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">姓名&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input placeholder="姓名" name="name" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">用户名&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input placeholder="用户名" name="userName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">部门&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input id="deptId" name="deptId" class="hidden">
									<div class="tree smart-form">
									</div>
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">E-mail&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input placeholder="E-mail" name="email" class="form-control" type="email">
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">状态  </label>
								<div class="inline-group col-md-8">
									<label class="radio" style="margin-left:5px;">
										<input type="radio" name="status" value="1" />  <i></i>正常
									</label>
									<label class="radio">
										<input type="radio" name="status" value="0" />  <i></i>禁用
									</label>
								</div>
							</div>

							<input type="hidden" name="roleIdList" id="roleIdList">
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">角色  </label>
								<div class="inline-group col-sm-8">
									<label th:each="role:${roles}" class="checkbox" style="margin-left:5px;">
										<input name="role" type="checkbox" th:value="${role.id}"
											   th:text="${role.roleName}"><i></i>
									</label>
								</div>
							</div>
							<footer>
								<button type="submit" class="btn btn-primary">保存</button>
								<button type="button" class="btn btn-default" onclick="goBack();">返回</button>
							</footer>
					</form>
				</div>
			</div>
		</div>
	</article>
	<article class="col-sm-12 col-md-12 col-lg-2 sortable-grid ui-sortable">
		<!-- modal start -->
		<div class="modal fade" id="user_add_modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeBtn">
							&times;
						</button>
						<h4 class="modal-title" id="user_add_title"></h4>
					</div>
					<div class="modal-body" id="user_add_body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" id="user_add_btn1"></button>
						<button type="button" id="user_add_btn2"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- modal end -->
	</article>
</div>
<script type="text/javascript" th:src="@{'/js/system/user/userEdit.js?v=' + ${#strings.randomAlphanumeric(8)}}"/>
<script type="text/javascript" th:src="@{'/js/system/user/add.js?v=' + ${#strings.randomAlphanumeric(8)}}"/>