<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.doushen.ent.music.mapper.SongMapper">

    <select id="count" parameterType="info.doushen.common.utils.Query" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            ent_music_song song
        <if test="singerId != null and singerId != ''">
            JOIN ent_music_album album on song.album_id = album.id
        </if>
        <where>
            <if test="name != null and name != ''"> and song.name ~* #{name} </if>
            <if test="albumId != null and albumId != ''"> and song.album_id = to_number(#{albumId}, '9999999999999999999') </if>
            <if test="singerId != null and singerId != ''"> and album.singer_id = to_number(#{singerId}, '9999999999999999999') </if>
        </where>
    </select>

    <select id="list" parameterType="info.doushen.common.utils.Query" resultType="info.doushen.ent.music.vo.SongVO">
        SELECT
            song.id,
            song.name,
            song.album_id,
            album.name  AS albumName,
            singer.id   AS singerId,
            singer.name AS singerName,
            song.track_number,
            song.language,
            song.length,
            song.size,
            song.audio_type,
            song.lyrics,
            song.create_by,
            song.create_time,
            song.update_by,
            song.update_time
        FROM
            ent_music_song song
        JOIN
            ent_music_album album
        ON
            song.album_id = album.id
        JOIN
            ent_music_singer singer
        ON
            album.singer_id = singer.id
        <where>
            <if test="name != null and name != ''"> and song.name ~* #{name} </if>
            <if test="albumId != null and albumId != ''"> and song.album_id = to_number(#{albumId}, '9999999999999999999') </if>
            <if test="singerId != null and singerId != ''"> and album.singer_id = to_number(#{singerId}, '9999999999999999999') </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset}
        </if>
    </select>

    <insert id="save" parameterType="info.doushen.ent.music.entity.SongEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO
            ent_music_song
            (
                name,
                album_id,
                track_number,
                language,
                length,
                size,
                audio_type,
                lyrics,
                create_by,
                create_time,
                update_by,
                update_time
            )
            VALUES
            (
                #{name},
                #{albumId},
                #{trackNumber},
                #{language},
                #{length},
                #{size},
                #{audioType},
                #{lyrics},
                #{createBy},
                CURRENT_TIMESTAMP,
                #{createBy},
                CURRENT_TIMESTAMP
            )
    </insert>

    <select id="get" parameterType="java.lang.Integer" resultType="info.doushen.ent.music.vo.SongVO">
        SELECT
            song.id,
            song.name,
            song.album_id,
            album.name  AS albumName,
            singer.id   AS singerId,
            singer.name AS singerName,
            song.track_number,
            song.language,
            song.length,
            song.size,
            song.audio_type,
            song.lyrics,
            song.create_by,
            song.create_time,
            song.update_by,
            song.update_time
        FROM
            ent_music_song song
        JOIN
            ent_music_album album
        ON
            song.album_id = album.id
        JOIN
            ent_music_singer singer
        ON
            album.singer_id = singer.id
        WHERE
            song.id = #{id}
    </select>

    <update id="update" parameterType="info.doushen.ent.music.entity.SongEntity">
        UPDATE
            ent_music_song
        SET
            name = #{name},
            album_id = #{albumId},
            track_number = #{trackNumber},
            language = #{language},
            length = #{length},
            size = #{size},
            audio_type = #{audioType},
            lyrics = #{lyrics},
            update_by = #{updateBy},
            update_time = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

</mapper>