<div class="row">
	<article class="col-sm-12 col-md-12 col-lg-2 sortable-grid ui-sortable">
	</article>
	<article class="col-sm-12 col-md-12 col-lg-8 sortable-grid ui-sortable">
		<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
			<header role="heading">
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h2>添加数据字典 </h2>
				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
			</header>
			<div role="content">
				<div class="jarviswidget-editbox">
				</div>
				<div class="widget-body no-padding">
					<form id="dictForm" class="form-horizontal smart-form" novalidate="novalidate" autocomplete="off">
						<fieldset>
							<legend>添加数据字典</legend>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">数据字典名&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input type="text" name="dictName" placeholder="数据字典名">
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">数据字典值&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input type="text" name="dictValue" placeholder="数据字典值">
								</div>
							</div>

							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">数据字典类型&nbsp;&nbsp;</label>
								<div class="select col-md-8">
									<input type="hidden" id="dictType" th:value="${type}">
									<select id="dictType_" name="dictType">
									</select> <i></i>
								</div>
							</div>

							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">数据字典描述&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input type="text" id="description" name="description" placeholder="数据字典描述">
								</div>
							</div>
							<div class="form-group row" style="margin-bottom: 15px;">
								<label class="col-md-2 control-label">排序(升序)&nbsp;&nbsp;</label>
								<div class="input col-md-8">
									<input type="text" name="sort" placeholder="排序(升序)">
								</div>
							</div>
						</fieldset>
						<footer>
							<button type="submit" class="btn btn-primary">保存</button>
							<button type="button" class="btn btn-default" onclick="goBack();">返回</button>
						</footer>
					</form>
				</div>
			</div>
		</div>
	</article>
	<article class="col-sm-12 col-md-12 col-lg-2 sortable-grid ui-sortable">
	</article>
</div>
<script type="text/javascript" th:src="@{'/js/system/dict/dictEdit.js?v=' + ${#strings.randomAlphanumeric(8)}}" />
<script type="text/javascript" th:src="@{'/js/system/dict/add.js?v=' + ${#strings.randomAlphanumeric(8)}}" />
