<link href="/plugins/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/select_style.css" />
<div class="row">
	<article class="col-sm-12">
		<div class="jarviswidget jarviswidget-color-blueDark">
			<header role="heading" class="ui-sortable-handle">
				<div class="jarviswidget-ctrls" role="menu">
					<a shiro:hasPermission="system:dict:add" class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="add();">&nbsp;<i class="fa fa-plus"></i>&nbsp;添&nbsp;加&nbsp;&nbsp;</a>
					<a shiro:hasPermission="system:dict:batchRemove" class="btn btn-danger btn-sm " href="javascript:void(0);" onclick="batchRemove();">&nbsp;<i class="fa fa-trash"></i>&nbsp;删&nbsp;除&nbsp;&nbsp;</a>
				</div>
				<h2>数据字典 </h2>
			</header>
			<div role="content">
				<div class="widget-body no-padding">
					<form id="checkout-form" class="smart-form" novalidate="novalidate" autocomplete="off">
						<fieldset>
							<div class="row">
								<section class="col col-3">
									<label class="select">
										<select id="dict_type" style="display:none;" class="select2">
										</select>
									</label>
								</section>
								<div class="col col-2">
									<a class="btn btn-default btn-sm" href="javascript:void(0);" onclick="resert();">&nbsp;&nbsp;重&nbsp;置&nbsp;&nbsp;</a>
									<a class="btn btn-info btn-sm" href="javascript:void(0);" onclick="reLoad();">&nbsp;&nbsp;查&nbsp;询&nbsp;&nbsp;</a>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<div class="table-responsive">
								<table class="table" id="exampleTable">
								</table>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</article>
</div>
<div>
	<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
		</script>
</div>
<div shiro:hasPermission="system:dict:edit">
	<script type="text/javascript">
			s_edit_h = '';
		</script>
</div>
<div shiro:hasPermission="system:dict:remove">
	<script type="text/javascript">
			var s_remove_h = '';
		</script>
</div>
<div shiro:hasPermission="system:dict:add">
	<script type="text/javascript">
			var s_add_h = '';
		</script>
</div>
<script type="text/javascript" src="/plugins/bootstrap-table/js/bootstrap-table.min.js" />
<script type="text/javascript" src="/plugins/bootstrap-table/js/bootstrap-table-zh-CN.min.js" />
<script type="text/javascript" th:src="@{'/js/system/dict/dict.js?v=' + ${#strings.randomAlphanumeric(8)}}"/>
