<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/music_layout.css" rel="stylesheet" />
<link href="/css/music_album_info.css" rel="stylesheet" />
<style type="text/css">
    h1, ul, li {
        margin:0; padding:0
    }
</style>
<body class="white-bg" style="background:#fafafa;">
    <div class="wrapper wrapper-content ">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">

            <div class="mod_data">
                <span class="data__cover">
                    <img th:src="${album.cover}" onerror="imgError();" th:alt="${album.name}" class="data__photo">
                </span>
                <div class="data__cont">
                    <div class="data__name">
                        <h1 class="data__name_txt" th:title="${album.name}" th:text="${album.name}"></h1>
                    </div>
                    <div class="data__singer">
                        <i class="fa fa-user-o"></i><a th:href="@{'/ent/music/singer/info/'+${album.singerId}}" class="js_singer data__singer_txt" itemprop="byArtist" data-stat="y_new.album.header.singername" th:title="${singer.name}" th:text="@{' ' + ${singer.name} + ' '}"></a>
                    </div>
                    <ul class="data__info">
                        <li class="data_info__item" th:text="@{'风格：'+${albumStyle}}"></li>
                        <li class="data_info__item data_info__item--even" th:text="@{'语言：'+${albumLanguage}}"></li>
                        <li class="data_info__item" th:text="@{'发行时间：'+${#dates.format(album.issueDate, 'yyyy-MM-dd')}}"></li>
                        <li class="data_info__item" th:text="@{'类型：'+${albumType}}"></li>
                    </ul>
                </div>
            </div>

            <div class="detail_layout">
                <div class="js_tab">

                    <div class="mod_songlist">
                        <ul class="songlist__header">
                            <li class="songlist__edit songlist__edit--check sprite">
                                <input type="checkbox" class="songlist__checkbox js_check_all">
                            </li>
                            <li class="songlist__header_name">歌曲</li>
                            <li class="songlist__header_author">歌手</li>
                            <li class="songlist__header_time">时长</li>
                            <li class="songlist__header_time">类型</li>
                        </ul>
                        <ul class="songlist__list">
                            <li>
                                <div class="songlist__item songlist__item--musician"></div>
                            </li>
                            <li th:each="song : ${songPage.rows}">
                                <div class="songlist__item" onmouseover="this.className=(this.className+' songlist__item--hover')" onmouseout="this.className=this.className.replace(/ songlist__item--hover/, '')">
                                    <div class="songlist__edit songlist__edit--check sprite">
                                        <input type="checkbox" class="songlist__checkbox">
                                    </div>
                                    <div class="songlist__number" th:text="${song.trackNumber}"></div>
                                    <div class="songlist__songname">
                                        <span class="songlist__songname_txt"><a th:href="@{'/ent/music/song/info/'+${song.id}}" class="js_song" th:title="${song.name}" th:text="${song.name}"></a></span>
                                    </div>
                                    <div class="songlist__artist" th:title="${singer.name}">
                                        <a th:href="@{'/ent/music/singer/info/'+${singer.id}}" th:title="${singer.name}" class="singer_name" th:text="${singer.name}"></a>
                                    </div>
                                    <div class="songlist__time" th:text="${song.length}"></div>
                                    <div class="songlist__type" th:text="${song.audioType}"></div>
                                    <div class="songlist__other">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-1">

        </div>

    </div>
    <div th:include="include :: footer"></div>
</body>
</html>