<link href="/css/music_album_info.css" rel="stylesheet" />
<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget jarviswidget-color-blueDark">
            <header role="heading" class="ui-sortable-handle">
                <h2>专辑信息 </h2>
            </header>
            <div role="content">
                <div class="widget-body">
                    <div class="mod_data">
                        <span class="data__cover">
                            <img th:src="${album.cover}" th:alt="${album.name}" class="data__photo">
                        </span>
                        <div class="data__cont">
                            <div class="data__name">
                                <h1 class="data__name_txt" th:title="${album.name}" th:text="${album.name}"></h1>
                            </div>
                            <div class="data__singer">
                                <i class="fa fa-user"></i><a th:target="@{'/ent/music/singer/info/'+${album.singerId}}" th:title="${singer.name}" th:text="@{' ' + ${singer.name} + ' '}"></a>
                            </div>
                            <ul class="data__info" style="padding-left:0px;">
                                <li class="data_info__item" id="album_style_li"></li>
                                <li class="data_info__item data_info__item--even" id="album_language_li"></li>
                                <li class="data_info__item" th:text="@{'发行时间：'+${#dates.format(album.issueDate, 'yyyy-MM-dd')}}"></li>
                                <li class="data_info__item" id="album_type_li"></li>
                            </ul>
                            <input type="hidden" id="album_language" th:value="${album.language}">
                            <input type="hidden" id="album_style" th:value="${album.style}">
                            <input type="hidden" id="album_type" th:value="${album.type}">
                            <input type="hidden" id="album_language_">
                            <input type="hidden" id="album_style_">
                            <input type="hidden" id="album_type_">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="col-sm-12" id="singer_song">
        <div class="jarviswidget jarviswidget-color-blueDark">
            <header role="heading" class="ui-sortable-handle">
                <h2>专辑歌曲 </h2>
            </header>
            <div role="content">
                <div class="widget-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> <i class="fa fa-music"></i> 歌曲名</th>
                                <th> <i class="fa fa-dot-circle-o"></i> 所属专辑</th>
                                <th> <i class="fa fa-clock-o"></i> 时长</th>
                                <th> <i class="fa fa-slack"></i> 类型</th>
                            </tr>
                            </thead>
                            <tbody id="songList">
                            <tr class="table-success" th:each="song,songStat : ${songPage.rows}">
                                <td th:text="${songStat.index+1}"></td>
                                <td><a th:target="@{'/ent/music/song/info/'+${song.id}}" th:title="${song.name}" th:text="${song.name}"></a></td>
                                <td><a th:target="@{'/ent/music/album/info/'+${song.albumId}}" th:title="${song.albumName}" th:text="${song.albumName}"></a></td>
                                <td th:text="${song.length}"></td>
                                <td th:text="${song.audioType}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script type="text/javascript" src="/js/ent/music/album/info.js" />
