<!DOCTYPE html>
<html lang="en" class="smart-style-0" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>Dashboard | Smart Admin 2.0</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,500,700">
    <link rel="shortcut icon" href="/smart_admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/smart_admin/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" media="screen, print" href="/smart_admin/vendors/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="/smart_admin/app/app.bundle.css">
    <link rel="stylesheet" type="text/css" href="/smart_admin/pages/homepage.css">
</head>
<body class="smart-style-0">

<!-- BEGIN .sa-wrapper -->
<div class="sa-wrapper">
    <!-- BEGIN .sa-shortcuts -->

    <div class="sa-shortcuts-section">
        <ul>
            <li><a class="bg-blue" href="inbox.html"><span class="fa fa-envelope fa-4x"></span><span class="box-caption">Mail</span><em class="counter">14</em></a></li>
            <li><a class="bg-orange-dark" href="calendar.html"><span class="fa fa-calendar fa-4x"></span><span class="box-caption">Calendar</span><em class="counter"></em></a></li>
            <li><a class="bg-purple" href="gmap-xml.html"><span class="fa fa-map-marker fa-4x"></span><span class="box-caption">Maps</span><em class="counter"></em></a></li>
            <li><a class="bg-blue-dark" href="invoice.html"><span class="fa fa-book fa-4x"></span><span class="box-caption">Invoice</span><em class="counter"></em></a></li>
            <li><a class="bg-green-light" href="gallery.html"><span class="fa fa-picture-o fa-4x"></span><span class="box-caption">Gallery</span><em class="counter">99</em></a></li>
            <li><a class="bg-pink-dark selected" href="profile.html"><span class="fa fa-user fa-4x"></span><span class="box-caption">My Profile</span><em class="counter"></em></a></li>
        </ul>
    </div>
    <!-- END .sa-shortcuts -->

    <header class="sa-page-header">
        <div class="sa-header-container h-100">
            <div class="d-table d-table-fixed h-100 w-100">
                <div class="sa-logo-space d-table-cell h-100">
                    <div class="flex-row d-flex align-items-center h-100">
                        <a class="sa-logo-link" href="" title="Smart Admin 2.0"><img alt="Smart Admin 2.0" src="/smart_admin/img/logo.png" class="sa-logo"></a>
                        <div class="dropdown ml-auto">
                            <button class="btn btn-default sa-btn-icon sa-activity-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user"></span><span class="badge bg-red">21</span></button>
                            <div class="dropdown-menu ml-auto ajax-dropdown" aria-labelledby="dropdownMenuButton">
                                <form class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-default" onclick="loadNotifications(this)" data-url="ajax/mail.html">Msgs (21)</button>
                                    <button type="button" class="btn btn-default" onclick="loadNotifications(this)" data-url="ajax/notifications.html">Notify (3)</button>
                                    <button type="button" class="btn btn-default" onclick="loadNotifications(this)" data-url="ajax/tasks.html">Tasks (4)</button>
                                </form>
                                <div class="sa-ajax-notification-container">
                                    <div class="alert sa-ajax-notification-alert">
                                        <h4>Click a button to show messages here</h4>
                                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                                    </div>
                                    <span class="fa fa-lock fa-4x fa-border"></span>
                                </div>

                                <form role="group" class="flex-row d-flex align-items-center sa-ajax-notification-footer">
                                    <span>Last updated on: 12/12/2013 9:43AM</span>
                                    <button class="btn btn-xs btn-default ml-auto" type="button" onclick="toggleReloadButton(this, event)"><span class="fa fa-refresh"></span></button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-table-cell h-100 w-100 align-middle">
                    <div class="sa-header-menu">
                        <div class="d-flex align-items-center w-100">
                            <div class="sa-header-left-area">
                                <span class="sa-project-label">Projects:</span>
                                <div class="dropdown sa-project-dropdown">
                                    <a href=":;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent projects <span class="fa fa-angle-down"></span></a>
                                    <div class="dropdown-menu ml-auto" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Online e-merchant management system - attaching integration with the iOS</a>
                                        <a class="dropdown-item" href="#">Notes on pipeline upgradee</a>
                                        <a class="dropdown-item" href="#">Assesment Report for merchant account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><span class="fa fa-power-off"></span> Clear</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto sa-header-right-area">
                                <div class="form-inline">
                                    <button class="btn btn-light sa-btn-icon sa-btn-micro d-none d-lg-block" type="button"><span class="fa fa-microphone"></span></button>
                                    <button class="btn btn-light sa-btn-icon sa-toggle-full-screen d-none d-lg-block" type="button" onclick="toggleFullScreen()"><span class="fa fa-arrows-alt"></span></button>
                                    <form class="sa-header-search-form">
                                        <input type="text" class="form-control" placeholder="Find reports and more">
                                        <button type="submit" class="sa-form-btn"><span class="fa fa-search"></span></button>
                                    </form>
                                    <button class="btn btn-default sa-logout-header-toggle sa-btn-icon" type="button"><span class="fa fa-sign-out"></span></button>
                                    <span class="dropdown sa-user-dropdown">
                          <a href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="sa-user-dropdown-toggle">
                            <img src="/smart_admin/img/avatars/sunny.png" alt="John Doe">
                          </a>
                          <span class="dropdown-menu dropdown-menu-right ml-auto" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-cog"></i> Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item padding-10 padding-top-5 padding-bottom-5" href="javascript:void(0);" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                          </span>
                        </span>

                                    <button class="btn btn-default sa-btn-icon sa-sidebar-hidden-toggle" onclick="SAtoggleClass(this, 'body', 'sa-hidden-menu')" type="button"><span class="fa fa-reorder"></span></button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- END .sa-page-header -->
    <div class="sa-page-body">


        <!-- BEGIN .sa-aside-left -->

        <div class="sa-aside-left">

            <a href="javascript:void(0)"  onclick="SAtoggleClass(this, 'body', 'sa-shortcuts-expanded')" class="sa-sidebar-shortcut-toggle">
                <img src="/smart_admin/img/avatars/sunny.png" alt="" class="online">
                <span th:text="${username}"> <span class="fa fa-angle-down"></span></span>
            </a>
            <div class="sa-left-menu-outer">
                <ul class="metismenu sa-left-menu" id="menu">
                    <li>
                        <a href="index">
                            <span class="fa fa-lg fa-fw fa-home"></span><span class="menu-item-parent">主页</span>
                        </a>
                    </li>
                    <li th:each="menu : ${menus}"><!-- first-level -->
                        <a class="has-arrow">
                            <span th:class="${menu.attributes.icon}"></span><span class="menu-item-parent" th:text="${menu.text}"></span>
                            <b class="collapse-sign">
                                <em class="fa fa-plus-square-o"></em>
                                <em class="fa fa-minus-square-o"></em>
                            </b>
                        </a>
                        <ul aria-expanded="true" class="sa-sub-nav collapse">
                            <li th:each="cmenu : ${menu.children}">
                                <a th:target="${cmenu.attributes.url}" th:text="${cmenu.text}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="minifyme" onclick="SAtoggleClass(this, 'body', 'minified')">
                <i class="fa fa-arrow-circle-left hit"></i>
            </a>
        </div>

        <!-- BEGIN .sa-content-wrapper -->
        <div class="sa-content-wrapper">

            <!-- BEGIN .sa-page-breadcrumb -->
            <ol class="align-items-center sa-page-ribbon breadcrumb" aria-label="breadcrumb" role="navigation">
                <li><span id="refresh" class="btn sa-ribbon-btn sa-theme-btn" data-action="resetWidgets"><i class="fa fa-refresh"></i></span></li>
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="dashboard-marketing.html">Marketing Dashboard</a></li>
            </ol>

            <div class="sa-theme-settings">
                <a href="javascript:void(0)" class="sa-theme-settings-toggle" onclick="SAtoggleClass(this, '.sa-theme-settings', 'active')"><span class="fa fa-cogs fa-spin"></span></a>
                <h4>Layout Options</h4>
                <ul class="list-unstyled">
                    <li>
                        <label class="vcheck">
                            <input type="checkbox" id="SAFixedHeader" data-add-class="sa-fixed-header" data-remove-class="sa-fixed-header sa-fixed-navigation sa-fixed-ribbon " onchange="SASetClass(this)">
                            <span>Fixed Header</span>
                        </label>
                    </li>
                    <li>
                        <label class="vcheck">
                            <input type="checkbox" id="SAFixedNavigation" data-add-class="sa-fixed-navigation sa-fixed-header" data-remove-class="sa-fixed-navigation sa-fixed-ribbon" onchange="SASetClass(this)">
                            <span>Fixed Navigation</span>
                        </label>
                    </li>
                    <li><label class="vcheck"><input type="checkbox" id="SAFixedRibbon" data-add-class="sa-fixed-navigation sa-fixed-header sa-fixed-ribbon" data-remove-class="sa-fixed-ribbon" onchange="SASetClass(this)"> <span>Fixed Ribbon</span></label></li>
                    <li><label class="vcheck"><input type="checkbox" id="SAFixedFooter" data-add-class="sa-fixed-page-footer" data-remove-class="sa-fixed-page-footer" onchange="SASetClass(this)"> <span>Fixed Footer</span></label></li>
                    <li><label class="vcheck"><input type="checkbox" id="SAContainerInside" data-add-class="sa-inside-container" data-remove-class="sa-inside-container sa-fixed-ribbon" onchange="SASetClass(this)"> <span>Inside <strong>.container</strong></span></label></li>
                    <li><label class="vcheck"><input type="checkbox" id="SAMenuOnTop" data-add-class="sa-menu-on-top" data-remove-class="sa-menu-on-top" onchange="SASetClass(this)"> <span>Menu on <strong>top</strong></span></label></li>
                </ul>
                <h4>Clear Localstorage</h4>
                <a href="javascript:void(0)" class="btn sa-btn-primary btn-block" data-action="resetWidgets"><span class="fa fa-refresh"></span> Factory Reset</a>

                <h6 class="margin-top-10 text-medium margin-bottom-5">SmartAdmin Skins</h6>
                <section id="smart-styles">
                    <a href="javascript:void(0);" id="smart-style-0" data-skinlogo="assets/img/common/sa-logo.png" class="btn btn-block btn-xs text-white margin-right-5" style="background-color:#4E463F;">
                        <i class="fa fa-check fa-fw" id="skin-checked"></i>Smart Default
                    </a>
                    <a href="javascript:void(0);" id="smart-style-1" data-skinlogo="assets/img/common/sa-logo-white.png" class="btn btn-block btn-xs text-white" style="background:#3A4558;">Dark Elegance</a>
                    <a href="javascript:void(0);" id="smart-style-2" data-skinlogo="assets/img/common/sa-logo-blue.png" class="btn btn-xs btn-block text-darken margin-top-5" style="background:#fff;">Ultra Light</a>
                    <a href="javascript:void(0);" id="smart-style-3" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background:#f78c40">Google Skin</a>
                    <a href="javascript:void(0);" id="smart-style-4" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background: #bbc0cf; border: 1px solid #59779E; color: #17273D !important;">PixelSmash</a> <a href="javascript:void(0);" id="smart-style-5" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-5" style="background: rgba(153, 179, 204, 0.2); border: 1px solid rgba(121, 161, 221, 0.8); color: #17273D !important;">Glass </a><a href="javascript:void(0);" id="smart-style-6" data-skinlogo="assets/img/common/sa-logo-pale.png" class="btn btn-xs btn-block text-white margin-top-6" style="background: #2196F3; border: 1px solid rgba(0, 0, 0, 0.3); color: #FFF !important;">MaterialDesign <sup>beta</sup> </a>
                </section>
            </div>

            <!-- END .sa-page-breadcrumb -->

            <div class="sa-content">
                <div class="d-flex w-100 home-header">
                    <div>
                        <h1 class="page-header"><i class="fa-fw fa fa-home"></i>  Dashboard <span>&gt; Marketing</span></h1>
                    </div>
                    <div class="ml-auto">
                        <ul class="sa-sparks">
                            <li class="sparks-info">
                                <h5> <small>My Income</small> <span class="text-blue">$47,171</span></h5>
                                <div class="sparkline text-blue d-none d-xl-block"><canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas></div>
                            </li>
                            <li class="sparks-info">
                                <h5> <small>Site Traffic</small> <span class="text-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
                                <div class="sparkline text-purple d-none d-xl-block"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
                            </li>
                            <li class="sparks-info">
                                <h5> <small>Site Orders</small> <span class="text-green-dark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                                <div class="sparkline text-green-dark d-none d-xl-block"><canvas width="82" height="26" style="display: inline-block; width: 82px; height: 26px; vertical-align: top;"></canvas></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-flex w-100">
                    <section id="widget-grid" class="w-100">
                        <div class="row" id="main_iframe">
                        </div>
                    </section>
                </div>
            </div>

            <!-- BEGIN .sa-page-footer -->
            <footer class="sa-page-footer">
                <div class="d-flex align-items-center w-100 h-100">
                    <div class="footer-left">
                        SmartAdmin 1.9.X - <span class="footer-txt">Web Application Framework</span> &copy; 2017-2019
                    </div>
                </div>
            </footer>
            <!-- END .sa-page-footer -->

        </div>
        <!-- END .sa-content-wrapper -->
    </div>
</div>
<!-- END .sa-wrapper -->

<script src="/smart_admin/vendors/vendors.bundle.js"></script>
<script src="/smart_admin/app/app.bundle.js"></script>

<script>
    $(function () {
        $('#menu').metisMenu();
    });

    $.get("main",function(data){
　　　　  $("#main_iframe").html(data);
    });

    $(function () {
        $('.sa-sub-nav li').click(function() {
            var $this = $(this), _clickTab = $this.find('a').attr('target'); // 找到链接a中的targer的值
            $.get(_clickTab, function(data){
                $("#main_iframe").html(data);
            });
        });
    });
</script>

</body>
</html>