<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false" data-widget-fullscreenbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-lg fa-fw fa-home"></i> </span>
                <h2> DOUDOU </h2>
            </header>
        </div>
    </article>
</div>

<!--<div class="col-12 col-xl-12">-->
    <!--<ul>-->
        <!--<li>硬盘</li>-->
        <!--<li>音乐</li>-->
        <!--<li>电影</li>-->
        <!--<li>美剧</li>-->
        <!--<li>纪录片</li>-->
    <!--</ul>-->
<!--</div>-->